[Unit]
Description=Frame service
After=multi-user.target

StartLimitIntervalSec=400

[Service]
Type=simple
Restart=always
RestartSec=10

WorkingDirectory=/var/local/frame
ExecStart=/var/local/frame/env/bin/python3 -m frame /var/local/images

[Install]
WantedBy=multi-user.target
